.post-content .payload-richtext {
  font-weight: 400 !important;
  font-style: Regular !important;
  font-size: 24px !important;
  line-height: 150% !important;
  letter-spacing: 0% !important;
}

#post-page {
  line-height: 1.5 !important; /* 150% */
}

#post-page {
  h1,
  h2,
  h3,
  h4 {
    line-height: 150% !important;
    font-weight: semibold !important;
  }
}

.post-content .payload-richtext h1,
h2,
h3,
h4 {
  line-height: 150% !important;
  line-height: 1.5 !important; /* 150% */
  font-weight: semibold !important;
}

#post-page .post-excerpt {
  line-height: 150% !important;
}

.post-content {
  color: white;
}

.post-content strong {
  color: white;
}

.post-content .payload-richtext {
  padding: 0;
}

/* mobile responsive design of blog */
@media (max-width: 576px) {
  .post-content .payload-richtext {
    font-weight: 400 !important;
    font-style: Regular !important;
    font-size: 20px !important;
    line-height: 150% !important;
    letter-spacing: 0% !important;
  }

  .prose :where(h2):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    font-weight: 600;
  }
}
